<div id="resetPasswordPageParent" class="boxWrapperParent">
    <div id="resetPasswordPageChild" class="boxWrapperChild">
        <div id="resetPassword">
            <h>I forgot my ConnecFTW Account name or password</h>
            <p></p>
            <form id="resetPasswordField" action="/api/user/resetPassword" method="post">
                <label for="email">Enter your email address</label><br>
                <input type="text" id="email" name="email"><br>

                {{#if message.length}}
                    <p style="font-size: 15px; font-weight: bolder; background-color: red;border: 0.1rem solid grey; color: white; max-width: 300px">{{message}}</p>
                {{/if}}

                <input type="submit" value="Submit" class="submit">
            </form>
        </div>
    </div>
</div>